

:root{
    --back1:#282a36;
    --back2:#44475a;
    --text-color:#ff79c6;
}

*{
    margin: 0;
    border: none;
    outline: none;
    padding: 0;
}

main {
    max-width: 100%;
    height: 100vh;
    background-color: var(--back1);
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section{
    /* background-color: red; */
    width: 400px;
}

main > section > article:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:2px;
}

main > section > article:nth-child(1) > section{
    width: 80px;
    background-color: var(--back2);
    padding: 10px 20px;
    color: var(--text-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}

main > section > article:nth-child(1) > section > span{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: wheat;
}

main > section > article:nth-child(1) > section.hour{
    border-radius: 50px 0px 0px 50px;
}
main > section > article:nth-child(1) > section.seconds{
    border-radius: 0px 50px 50px 0px;
}